@import url('Navigation.css');

/* Page bg circle shapes */

.left-circle1 {
    position: absolute;
    left: -170px;
    top: 158px;
    width: 378px;
    height: 378px;
    opacity: 0.45;
    background: var(--neutral-fade6);
    border-radius: 50%;
    z-index: -1;
}

.left-circle2 {
    position: absolute;
    left: 55px;
    top: 475px;
    width: 254px;
    height: 254px;
    opacity: 0.45;
    background: var(--neutral-fade6);
    border-radius: 50%;
    z-index: -1;
}

.center-circle2 {
    position: absolute;
    left: 686px;
    top: 29px;
    width: 514px;
    height: 514px;
    opacity: 0.45;
    background: var(--neutral-fade6);
    border-radius: 50%;
    z-index: -1;
}

.rigth-circle1 {
    position: absolute;
    left: 1310px;
    top: 220px;
    width: 346px;
    height: 346px;
    opacity: 0.45;
    background: var(--neutral-fade6);
    border-radius: 50%;
    z-index: -1;
}

.right-circle2 {
    position: absolute;
    left: 1157px;
    top: 469px;
    width: 244px;
    height: 244px;
    opacity: 0.45;
    background: var(--neutral-fade6);
    border-radius: 50%;
    z-index: -1;
}





/* Highlighting create menu */

.deleteMenu {

    background: var(--primary-dark7);
    color: var(--neutral-fade7);
    font-size: var(--font-16px);
    font-family: var(--font-Inter);
    font-weight: 400;
    line-height: var(--line-24px);
}

.deleteMenu span {
    width: 25px;
    height: 25px;
    font-size: 25px;
    font-weight: bold;
}





/* Form Container section start */

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 56px 0px;
    width: 48%;
}

.formContainer h1 {
    color: var(--primary-dark3);
    font-size: var(--font-32px);
    font-family: var(--font-Inter);
    font-weight: 700;
    line-height: var(--line-42px);
    word-wrap: break-word;
    text-align: left;
    width: 100%;
    text-shadow: var(--shadow-text1);
}

.formFieldsContainer {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: flex;
}

.formField {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    gap: 15px;
    position: relative;
}

.formFieldContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4px;
}

.downBtn,.upBtn {
    width: 40px;
    height: 40px;
    padding: 20px 16px;
    background: var(--primary-dark1);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    border: 2px var(--primary-dark4) solid;
    color: var(--neutral-fade7);
    justify-content: center;
    align-items: center;
    display: flex;
}

.downBtn:hover,.upBtn:hover{
    background-color: var(--primary-dark2);
}

.downBtn:active,.upBtn:active{
    background-color: var(--primary-dark4);
}

.upBtn {
    display: none;
}

.formFieldContainer input {
    width: 100%;
    height: 40px;
    padding: 20px 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px var(--primary-fade4) solid;
    outline: none;
    cursor: not-allowed;

    text-align: left;
    color: var(--primary-dark2);
    font-size: var(--font-14px);
    font-family: var(--font-Inter);
    font-weight: 400;
    line-height: var(--line-21px);
    word-wrap: break-word;
}

.formFieldContainer input:hover {
    border: 2px var(--primary-fade2) solid;
}

.formFieldContainer input:focus {
    border: 2px var(--primary-dark2) solid;
}

.formField span {
    display: none;
    font-size: 35px;
    color: var(--warning-color1);
}




.formSubmitBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    padding: 5px 1px;
    width: 100%;
}

#updateBtn {
    width: 105px;
    height: 40px;
    background: var(--primary-dark1);
    box-shadow: var(--shadow-soft);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    display: flex;
    border: none;
    cursor: pointer;

    color: var(--neutral-fade7);
    font-size: var(--font-14px);
    font-family: var(--font-Inter);
    font-weight: 400;
    line-height: var(--line-21px);
    word-wrap: break-word;
}

#updateBtn:hover {
    background-color: var(--primary-dark5);
}

#updateBtn:active {
    background-color: var(--primary-fade2);
}

#updateBtn span {
    font-size: 28px;
}

#update-message {
    display: none;
    color: var(--success-color1);
    font-size: var(--font-12px);
    font-family: var(--font-Inter);
    font-weight: 400;
    line-height: var(--line-18px);
    word-wrap: break-word;
}





/* External dropdown panel */


.deopdownPanal{
    display: none;
    position: absolute;
    top: 42px;
    left: 0;
    width: 94%;
    height: 37vh;
    z-index: 1;
    border: 2px var(--primary-fade4) solid;
    border-radius: 8px;
    padding: 20px 30px;
    background-color: var(--body-color);
    overflow-y: scroll;
    overflow-x: hidden;
}

.deopdownPanalItems{
    width: 100%;
    padding: 10px 5px;
    margin: 8px 0px;
    border-radius: 8px;
    border: 1px solid var(--primary-fade4);
    color: var(--primary-dark2);
    font-size: var(--font-14px);
    font-family: var(--font-Inter);
    font-weight: 400;
    line-height: var(--line-21px);
    word-wrap: break-word;
}